
<h1>Todos</h1>

<form class="form-search">
    <div class="input-append">
        <input type="text" ng-model="query" class="input-medium search-query" placeholder="Search">
        <button ng-click="reset()" type="submit" class="btn"><i class="icon-search"></i></button>
    </div>
    <button ng-click="query=''; reset()" ng-disabled="!query" type="submit" class="btn">Reset</button>
</form>

<table class="table table-striped table-condensed table-hover">
    <thead>
    <th sorted="todo">Todo</th>
    <th sorted="priority">Priority</th>
    <th sorted="due_date">Due</th>
    <th sorted="done">Done</th>
    <th><a href="#/todo/new"><i class="icon-plus-sign"></i></a></th>
    </thead>
    <tbody>
    <tr ng-repeat="item in todos" id="item_{{item.id}}" >
        <td>{{item.todo}}</td>
        <td>{{item.priority}}</td>
        <td>{{item.due_date}}</td>
        <td>
            <input type="checkbox" ng-disabled="true" ng-model="item.done">
        </td>
        <td>
            <a href="#/todo/edit/{{item.id}}"><i class="icon-edit"></i></a>
            <a ng-click="remove()"><i class="icon-remove"></i></a>
        </td>
    </tr>
    </tbody>
</table>

<a href="" ng-click = "offset = offset + limit; search()"
   ng-show ="show_more()">Show more</a>

